# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 1 * *"
    - cron: "0 4 15 * *"

jobs:
  branches:
    name: Cleanup old branches
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run delete-old-branches-action
        uses: beatlabs/delete-old-branches-action@v0.0.11
        with:
          repo_token: ${{ github.token }}
          date: '1 months ago'
          dry_run: false
          delete_tags: false
          exclude_open_pr_branches: true
